{%extends 'base.html'%}
{% block content %}
{{block.super}}
<link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">

<h1 style="text-align:center; margin-top: 50px; margin-bottom:50px; font-family: 'Anton', sans-serif;"> Welcome to my personal galery</h1>
<div class="container">

  <div class="row">

    {% for image in images %}
    <!--Display  images  -->

    <div class="col-md-4">
      <h2>{{ image.image_description}} </h2>
      <img src="{{image.image.url}}" class="img-responsive" alt="Image" data-toggle="modal" data-target="#{{image.id}}"
        style="font-size:300px;">
    </div>
    {% endfor %}
    {% for image in images %}
    <!-- Modal -->
    <div class="col-md-4">
      <div class="modal fade" id="{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">{{image.image_name}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img src="{{image.image.url}}" class="img-responsive" alt="Image">
              <p><strong>Description</strong>: {{ image.image_description}} </p>
              <p><strong>Location:</stong> {{ image.location}} </p>
              <p><strong>Category:</stong> {{ image.category}} </p>
              <button class="btn btn-success" onclick="copyurl('{{image.id}}-url')">Image link</button>
              <input type="text" value="http://127.0.0.1:8000{{image.image.url}}" id="{{image.id}}-url">

              <script type="text/javascript">
                function copyurl(element) {
                  var copyLink = document.getElementById(element);
                  copyLink.select();
                  document.execCommand('copy');
                  alert("link copied:" + copyLink.value);
                }
              </script>

            </div>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>


</div>
</div>

{% endblock %}